$fontSize: 25;
$primaryTextColor: rgba(255, 255, 255, 0.6);
$secondaryTextColor: #6a6666;
$primaryBackgroundColor: #e4cfa9;
$secondaryBackgroundColor: #002939;
$yellow: #e2b81c;
$linearGradientPrimary: #1b1b1b;
$linearGradientSecondary: #1d635580;
$white: #fff;
$black: #000;
